<div class="site-footer py-5 mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <p>
                    <small>API data by
                        <a href="https://github.com/novelcovid/api" target="_blank">Novel CoVID19/API</a>
                    </small>
                </p>
                <p>তথ্যসূত্রঃ
                    <a href="https://www.who.int/">WHO,</a>
                    <a href="https://www.worldometers.info/">Worldometer.info,</a>
                    <a href="https://www.jhu.edu/">John Hopkins University</a>
                </p>
                <p>বাংলাদেশ তথ্যসূত্রঃ
                    <a href="https://www.iedcr.gov.bd/">IEDCR,</a>
                    <a href="https://www.dghs.gov.bd/index.php/bd/">DGHS,</a>
                    <a href="http://www.mohfw.gov.bd/">Health Ministry of Bangladesh,</a>
                    <a href="https://corona.gov.bd/">করোনা ইনফো</a>
                    and Local Media Reports
                </p>
                <p class="text-success">
                    এটি একটি জনসচেতনতামূলক ওয়েবসাইট। যার তথ্য উপাত্ত বিভিন্ন গনমাধ্যম হতে সংগৃহীত। এখানের
                    সকল তথ্য সবার জন্য উন্মুক্ত।
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Vendor Scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
    integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-range/4.0.2/moment-range.js"
    integrity="sha256-bB6c2ZfNzG6Tv8MSu/pqUl0y91h86M/T+1w0WrCZhGw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
    integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<!-- Datatables Scripts -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<!-- Twitter Scripts -->
<script src="https://platform.twitter.com/widgets.js"></script>

<!-- User Scripts -->
<script type="text/javascript" src="/scripts/main.js"></script>
