<meta charset="utf-8">
<meta name="author" content="Jobayer Arman">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>কোভিড-১৯ বাংলাদেশ ড্যাশবোর্ড</title>

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<!-- Primary Meta Tags -->
<title>কোভিড-১৯ ড্যাশবোর্ড বাংলাদেশ</title>
<meta name="title" content="কোভিড-১৯ ড্যাশবোর্ড বাংলাদেশ">
<meta name="description" content="কোভিড-১৯ - এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি #StayHome #StaySafe">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://covidbd.herokuapp.com/">
<meta property="og:title" content="কোভিড-১৯ বাংলাদেশ ড্যাশবোর্ড">
<meta property="og:description" content="কোভিড-১৯ - এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি #StayHome #StaySafe">
<meta property="og:image" content="https://covidbd.herokuapp.com/images/metatag-v2.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://covidbd.herokuapp.com/">
<meta property="twitter:title" content="কোভিড-১৯ বাংলাদেশ ড্যাশবোর্ড">
<meta property="twitter:description" content="কোভিড-১৯ - এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি #StayHome #StaySafe">
<meta property="twitter:image" content="https://covidbd.herokuapp.com/images/metatag-v2.jpg">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- dataTables.bootstrap4 CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<!-- font-awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />

<!-- User Stylesheet -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163444518-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-163444518-1');
</script>
