    <meta charset="utf-8">
    <meta name="author" content="Jobayer Arman">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>লাইভ করোনা আপডেট</title>
    <!-- Primary Meta Tags -->
    <title>লাইভ করোনা আপডেট</title>
    <meta name="title" content="লাইভ করোনা আপডেট">
    <meta name="description" content="কোভিড-১৯ - এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://covidbd.herokuapp.com/">
    <meta property="og:title" content="লাইভ করোনা আপডেট">
    <meta property="og:description" content="কোভিড-১৯ - এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি ">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://covidbd.herokuapp.com/">
    <meta property="twitter:title" content="লাইভ করোনা আপডেট">
    <meta property="twitter:description" content="কোভিড-১৯ - এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি ">
    <meta property="twitter:image" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- User Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163444518-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-163444518-1');
    </script>
