<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/images/favicon.png" width="35" height="35" class=" mt-n2 mr-2 d-inline-block align-middle" alt="">
    লাইভ করোনা আপডেট
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNavbar"
    aria-controls="mainNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">তথ্য <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">উইকি</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">সাইট সম্পর্কে</a>
      </li>
    </ul>
    <ul class="list-inline mx-auto mb-0">
      <li class="list-inline-item">
        <a class="text-center" href="tel:109">
          <small class="text-light">ন্যাশনাল হেল্পলাইন</small>
          <p class="h5 text-success mb-0 ">১০৯</p>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="text-center" href="tel:333">
          <small class="text-light">ন্যাশনাল কল সেন্টার</small>
          <p class="h5 text-success mb-0">৩৩৩</p>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="text-center" href="tel:10655">
          <small class="text-light">আইইডিসিআর</small>
          <p class="h5 text-success mb-0">১০৬৫৫</p>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="text-center" href="tel:16263">
          <small class="text-light">স্বাস্থ্য বাতায়ন</small>
          <p class="h5 text-success mb-0">১৬২৬৩</p>
        </a>
      </li>
    </ul>
    <div class="twitter-follow"><a href="https://twitter.com/JobayerArman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JobayerArman</a></div>
  </div>
</nav>
