<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">লাইভ করোনা আপডেট</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#mainNavbar"
    aria-controls="mainNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">তথ্য <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">উইকি</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">সাইট সম্পর্কে</a>
      </li>
    </ul>
    <a href="https://twitter.com/JobayerArman?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @JobayerArman</a>
  </div>
</nav>
