<div class="social-widget">
  <div class="ssk-sticky ssk-left ssk-center ssk-group">
    <a
      href=""
      class="ssk ssk-facebook"
      data-url="https://covidbd.herokuapp.com/?utm_source=facebook&utm_medium=social-widget&utm_campaign=promo-one"
    ></a>
    <a
      href=""
      class="ssk ssk-twitter"
      data-url="https://covidbd.herokuapp.com/?utm_source=twitter&utm_medium=social-widget&utm_campaign=promo-one"
      data-text="এক নজরে বাংলাদেশের সার্বিক পরিস্থিতি #StayHome #StaySafe"
    ></a>
  </div>
</div>
