<div class="container-fluid px-md-5 mb-2">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="chart-container table-responsive shadow-sm">
        <canvas
          id="coronaCasesByTime"
          class="table"
          style="max-height: 450px"
        ></canvas>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="chart-container table-responsive shadow-sm">
        <canvas
          id="coronaDeathByTime"
          class="table"
          style="max-height: 450px"
        ></canvas>
      </div>
    </div>

    <div class="col-lg-4 col-md-12">
      <div class="chart-container table-responsive shadow-sm">
        <canvas
          id="coronaHistory"
          class="table"
          style="max-height: 450px"
        ></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="chart-container table-responsive shadow-sm">
        <canvas
          id="pie-chart-one"
          class="table"
          style="max-height: 450px"
        ></canvas>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="chart-container table-responsive shadow-sm">
        <canvas
          id="pie-chart-two"
          class="table"
          style="max-height: 450px"
        ></canvas>
      </div>
    </div>
  </div>
</div>
