<section class="container-fluid px-md-5 mb-4">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="timeline-container shadow-sm">
        <h5 class="text-center mb-3">উল্ল্যেখযোগ্য তারিখ (শনাক্ত)</h5>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">তারিখ</th>
              <th scope="col">সংখ্যা</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>০৮ মার্চ, ২০</td>
              <td>প্রথম কোভিড-১৯ শনাক্ত</td>
            </tr>
            <tr>
              <td>১৪ এপ্রিল, ২০</td>
              <td>মোট শনাক্ত ১,০০০</td>
            </tr>
            <tr>
              <td>২৬ এপ্রিল, ২০</td>
              <td>মোট শনাক্ত ৫,০০০</td>
            </tr>
            <tr>
              <td>০৪ মে, ২০</td>
              <td>মোট শনাক্ত ১০,০০০</td>
            </tr>
            <tr>
              <td>১১ মে, ২০</td>
              <td>মোট শনাক্ত ১৫,০০০</td>
            </tr>
            <tr>
              <td>১৫ মে, ২০</td>
              <td>মোট শনাক্ত ২০,০০০</td>
            </tr>
            <tr>
              <td>২২ মে, ২০</td>
              <td>মোট শনাক্ত ৩০,০০০</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="timeline-container shadow-sm">
        <h5 class="text-center mb-3">উল্ল্যেখযোগ্য তারিখ (মৃত্যু)</h5>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">তারিখ</th>
              <th scope="col">সংখ্যা</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>১৮ মার্চ, ২০</td>
              <td>প্রথম কোভিড-১৯ রোগীর মৃত্যু</td>
            </tr>
            <tr>
              <td>১৫ এপ্রিল, ২০</td>
              <td>মোট মৃত্যু ৫০</td>
            </tr>
            <tr>
              <td>২০ এপ্রিল, ২০</td>
              <td>মোট মৃত্যু ১০০</td>
            </tr>
            <tr>
              <td>২৭ এপ্রিল, ২০</td>
              <td>মোট মৃত্যু ১৫০</td>
            </tr>
            <tr>
              <td>০৮ মে, ২০</td>
              <td>মোট মৃত্যু ২০০</td>
            </tr>
            <tr>
              <td>১২ মে, ২০</td>
              <td>মোট মৃত্যু ২৫০</td>
            </tr>
            <tr>
              <td>১৬ মে, ২০</td>
              <td>মোট মৃত্যু ৩০০</td>
            </tr>
            <tr>
              <td>২১ মে, ২০</td>
              <td>মোট মৃত্যু ৪০০</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="timeline-container shadow-sm">
        <h5 class="text-center mb-3">উল্ল্যেখযোগ্য তারিখ (সুস্থ)</h5>
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">তারিখ</th>
              <th scope="col">সংখ্যা</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>১৬ মার্চ, ২০</td>
              <td>২ জন কোভিড-১৯ আক্রান্ত রোগী সুস্থ</td>
            </tr>
            <tr>
              <td>১৭ মার্চ, ২০</td>
              <td>মোট সুস্থ ৫০</td>
            </tr>
            <tr>
              <td>২৩ এপ্রিল, ২০</td>
              <td>মোট সুস্থ ১০০</td>
            </tr>
            <tr>
              <td>০৩ মে, ২০</td>
              <td>মোট সুস্থ ১,০০০</td>
            </tr>
            <tr>
              <td>০৮ মে, ২০</td>
              <td>মোট সুস্থ ২,০০০</td>
            </tr>
            <tr>
              <td>১২ মে, ২০</td>
              <td>মোট সুস্থ ৩,০০০</td>
            </tr>
            <tr>
              <td>১৬ মে, ২০</td>
              <td>মোট সুস্থ ৪,০০০</td>
            </tr>
            <tr>
              <td>২০ মে, ২০</td>
              <td>মোট সুস্থ ৫,০০০</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
