@media only screen and (max-width: 768px){.card{margin-top:15px}.twitter-follow{margin-top:20px}.chart-container{margin-bottom:30px}.list-inline{padding-top:.5rem !important;padding-bottom:.5rem !important}}
