// color variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

@media only screen and (max-width: 767px) {
  .news-container {
    .col {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
// styles for upto mobile screen
@media only screen and (max-width: 768px) {
  .card {
    margin-top: 15px;
  }

  .chart-container {
    margin-bottom: 1.25rem;
  }

  .list-inline {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
  }
}

// styles for upto tablet screen
@media only screen and (max-width: 1023px) {
  .emergency-number,
  .twitter-follow {
    padding: 1rem 0;
  }
}

// styles for large screen only
@media only screen and (min-width: 768px) {
  .news-container {
    .news-ticker {
      margin-left: -30px !important;
    }
  }
  .chart-container {
    margin-bottom: 1.25rem;
  }

  .chart-container {
    padding: 1.25rem 1.75rem !important;
  }

  .table-container {
    padding: 1.75rem .75rem 0 !important;
  }
}

// added color theme and shadow
body {
  background-color: #F0F2F8;
}

.panel,
.chart-container,
.table-container {
  background-color: #fff;
}

.chart-container {
  padding: 1.75rem 0;
}

.table-container {
  padding: 1.75rem 0 0;
}

// utility classes
.panel {
  border-radius: 4px;
}

.bg-warning {
  background-color: $orange !important;
}

.text-warning {
  color: $orange !important;
}
