<!DOCTYPE html>
<html lang="bd">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <% include ../sections/marquee.ejs %>
  <% include ../sections/panels.ejs %>

  <div class="container-fluid px-md-5 mt-4 mb-4">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="chart-container table-responsive shadow-sm">
          <h4 class="text-center">আপডেট করা হচ্ছে</h4>
          <canvas id="coronaCasesByTime" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="chart-container table-responsive shadow-sm">
          <h4 class="text-center">আপডেট করা হচ্ছে</h4>
          <canvas id="coronaDeathByTime" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="chart-container table-responsive shadow-sm">
          <h4 class="text-center">আপডেট করা হচ্ছে</h4>
          <canvas id="coronaHistory" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="chart-container table-responsive shadow-sm">
          <canvas id="pie-chart-one" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="chart-container table-responsive shadow-sm">
          <canvas id="pie-chart-two" class="table" style="max-height: 450px"></canvas>
        </div>
      </div>
    </div>
  </div>

  <% include ../sections/regional.ejs %>
  <% include ../sections/news.ejs %>
  <% include ../partials/social.ejs %>
  <% include ../partials/footer.ejs %>
  <% include ../sections/charts.ejs %>
</body>

</html>
