<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div>
  <p>Hello, World!</p>
  <p>From: Jobayer Arman</p>
</div>

</body>
</html>
