<!DOCTYPE html>
<html  lang="bd">
<head>
<% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="chart-container">
      <canvas id="coronaCases"></canvas>
    </div>
  </div>
  <div class="container">
    <div class="chart-container">
      <canvas id="coronaDeaths"></canvas>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</body>
</html>
