<!DOCTYPE html>
<html lang="bd">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="container lg">
      <div class="row">
        <div class="accordion mt-5">
          <div class="card">
            <div class="card-header bg-info text-light">
              <h4 class="mb-0">করোনাভাইরাস (SARS-CoV-2) ও কোভিড-১৯ কি?</h4>
            </div>
            <div class="card-body">
              <p>
                করোনাভাইরাস (CoV) হচ্ছে ভাইরাসগুলির একটি বৃহৎ পরিবার যা সাধারন সর্দি কাশি থেকে শুরু
                করে মারাত্মক অসুখ করতে পারে, যেমন Middle East Respiratory Syndrome (MERS-CoV),
                Severe Acute Respiratory Syndrome (SARS-CoV) এবং কোভিড-১৯ (COVID-19)। করোনাভাইরাসের
                অনেকগুলো প্রজাতির মাঝে ৭টি প্রজাতি মানবদেহে রোগ সৃষ্টি করে যার মাঝে
                <b>SARS-CoV-2</b> অন্যতম। করোনাভাইরাসগুলি জুনোটিক, যার অর্থ তারা প্রাণী থেকে মানুষের
                মধ্যে সংক্রমণ করতে পারে।
              </p>

              <p>
                <b>COVID-19</b> নামক রোগ সৃষ্টিকারী <b>SARS-CoV-2</b> করোনা ভাইরাস একটি নতুন প্রজাতি
                যা ইতিপূর্বে মানব শরীরে দেখা যায়নি। এটি একটি এনভেলপড, পজিটিভ সেন্স, সিঙ্গেল
                স্ট্র্যান্ড আরএনএ ভাইরাস।
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header bg-info text-light">
              <h4 class="mb-0">করোনাভাইরাস এর ইতিহাস</h4>
            </div>
            <div class="card-body">
              <p>
                ২০১৯ সালের ডিসেম্বরে চীনের হুবেই প্রদেশের উহান শহরে এ্যাটিপিকাল নিউমোনিয়ার বেশ
                কয়েক্তি সতর্কবার্তা বিশ্ব স্বাস্থ্য সংস্থাকে <b>(WHO)</b> দেওয়া হয়েছিল। পরবর্তীতে এ
                বছর জানুয়ারী মাসের প্রথম সপ্তাহে চীনা কর্তৃপক্ষ নিশ্চিত করেছে যে তারা একটি নতুন
                ভাইরাস সনাক্ত করেছে এবং এই ভাইরাসটি একটি নতুন ধরণের করোনাভাইরাস। এই নতুন ভাইরাসটির
                অস্থায়ীভাবে নামকরণ করা হয়েছিল <b>"2019-nCoV"</b>।
              </p>

              <p>
                বর্তমানে এই ভাইরাসটির নতুন নামকরণ করা হয়েছে Severe Acute Respiratory Syndrome বা
                Coronavirus 2। এই ভাইরাস দ্বারা সৃষ্ট রোগের নামকরণ করা হয়েছে SARS-CoV-2 Coronavirus
                Disease (COVID-19)।
              </p>

              <p>
                ২০১০ সালের ৩০ জানুয়ারী এ রোগের আউটব্রেককে
                <b>Public Health Emergency of International Concern (PHEIC)</b> হিসেবে ঘোষণা করা হয়
                এবং <b>১১ মার্চ, ২০২০</b> তারিখে বিশ্ব স্বাস্থ্য সংস্থা (WHO) <b>COVID-19</b> কে
                <b>বৈশ্বিক মহামারী (Pandemic)</b> হিসেবে ঘোষণা করে।
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header bg-info text-light">
              <h4 class="mb-0">সাধানরভাবে কোভিড-১৯ এর লক্ষণ</h4>
            </div>
            <div class="card-body">
              <ul>
                <li>ভাইরাস শরীরে ঢোকার পর সংক্রমণের লক্ষণ দেখা দিতে সাধারণত প্রায় ২-১৪ দিন লাগে</li>
                <li>
                  বেশির ভাগ ক্ষেত্রে প্রথম লক্ষণ জ্বর (১০০ ডিগ্রী ফারেনহাইট বা ৩৮ ডিগ্রী সেলসিয়াসের
                  বেশী)
                </li>
                <li>এছাড়া শুকনো কাশি/গলা ব্যাথা হতে পারে</li>
                <li>শ্বাসকষ্ট/নিউমোনিয়া দেখা কিতে পারে</li>
                <li>
                  অন্যান্য অসুস্থতা (ডায়াবেটিস/উচ্চ রক্তচাপ/শ্বাসকষ্ট/হৃদরোগ/কিডনী সমস্যা/ক্যান্সার
                  ইত্যাদি) থাকলে অরগ্যান ফেইলিওর হতে পারে।
                </li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-header bg-info text-light">
              <h4 class="mb-0">করোনাভাইরাস যেভাবে ছড়ায়</h4>
            </div>
            <div class="card-body">
              <p>করোনা ভাইরাস মানুষের ফুসফুসে সঙ্ক্রমণ ঘটায়</p>
              <ul>
                <li>শ্বাসতন্ত্রের মাধ্যমে (হাঁচি/কাশি/কফ/সর্দি/থুতু)</li>
                <li>আক্রান্ত ব্যক্তির সংস্পর্শে আসলে একজন থেকে আরেকজনে ছড়ায়</li>
              </ul>
              <p>
                মূলত ভাইরাসটি ছড়ায় আক্রান্ত ব্যক্তির ফুসফুস থেকে উৎপন্ন প্রদাহ কণা (রেসপিরেটরি
                ড্রপলেট) এর মাধ্যমে যা হাঁচি বা কাশির সাথে আক্রান্ত ব্যক্তি থেকে ১ মিটার (৩ ফুট)
                দূরত্বে যেয়ে পড়ে। এই রেসপিরেটরি ড্রপলেট এর সংস্পর্শে আসলে যেমন আক্রান্ত ব্যক্তির ১
                মিটার দূরত্বের কমে অবস্থান করলে বা ড্রপলেট ছড়িয়ে পড়া কোন তল (সারফেস) বা ব্যবহার্য্য
                সামগ্রী (যেমন টেবিল, চেয়ার, দরজার হাতল ইত্যাদি) হাত দিয়ে ধরলে এবং খালি হাতে নাকে
                মুখে বা চোখে হাত দিলে ভাইরাসটি সংক্রমণ ঘটাতে পারে।
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
  </body>
</html>
