<!DOCTYPE html>
<html lang="bd">

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <% include ../sections/marquee2.ejs %>
  <% include ../sections/title-info.ejs %>
  <% include ../sections/panels.ejs %>

  <% include ../sections/news.ejs %>
  <% include ../partials/social.ejs %>
  <% include ../partials/footer.ejs %>
</body>

</html>
